<header>
  <div class="header-container">
    <div class="header-info">
      <h1>{{ site.title }}</h1>
      <h2>Ingénieur en Informatique</h2>
      <p>+33 7 57 77 87 82 | {{ site.email }} | Lyon, 69001</p>
    </div>
    <nav class="header-nav">
      <a href="/" class="nav-link">Accueil</a>
      <a href="/blog/" class="nav-link">Blog</a>
      <a href="/index-en.html" class="nav-link">English</a>
      <a href="/CV_MerlinFAREZ_FR.pdf" class="nav-link">CV PDF</a>
    </nav>
  </div>
</header>